<form (ngSubmit)="onSubmit()">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-input
        type="text"
        label="Username"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="username"
        name="username"
        required
        placeholder="Ingresa tu nombre de usuario"
      ></ion-input>
      <ion-input
        type="password"
        label="Contraseña"
        name="password"
        fill="outline"
        label-placement="floating"
        [(ngModel)]="this.password"
        required
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <ion-button type="submit"> Login </ion-button>
    </ion-card-content>
  </ion-card>
</form>
