<ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input
            type="text"
            label-placement="floating"
            fill="outline"
            name="nombre"
            placeholder="Ingresa el nombre de la tarea."
            ngModel
            required
            minlength="4"
            #nombre="ngModel"
            appTaken
            [errorText]="nombre.errors | json"
          />
        </ion-item>
        <ion-item>
          <ion-input
            type="number"
            fill="outline"
            label-placement="floating"
            placeholder="Ingresa la duración en minutos."
            ngModel
            name="duracion"
            required
            min="1"
            max="8"
            #duracion="ngModel"
            [appDivisor]="3"
            [errorText]="duracion.errors | json"
          />
        </ion-item>
      </ion-list>

      <ion-button type="submit">Crear Tarea</ion-button>
      <!-- 
        <ion-list>
          <ion-item>Value: {{ taskForm.form.value | json }}</ion-item>
          <ion-item>Status: {{ taskForm.form.status | json }}</ion-item>
          <ion-item>Dirty: {{ taskForm.form.dirty | json }}</ion-item>
          <ion-item>Touched: {{ taskForm.form.touched | json }}</ion-item>
          <ion-item>UnTouched: {{ taskForm.form.untouched | json }}</ion-item>
          <ion-item>Pristine: {{ taskForm.form.pristine | json }}</ion-item>
          <ion-item>Pending: {{ taskForm.form.pending | json }}</ion-item>
          <ion-item>Valid: {{ taskForm.form.valid | json }}</ion-item>
          <ion-item>Invalid: {{ taskForm.form.invalid | json }}</ion-item>
          <ion-item>Errorrs: {{ taskForm.errors | json }}</ion-item>
        </ul> -->
    </ion-card-content>
  </form>
</ion-card>
